<!DOCTYPE html>
<html ng-app=''>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <title></title>
  </head>
  <body>
    <div ng-init="message='Hello'">
      <input type="text" name="name" id="message" ng-model="message">
      <input type="text" name="name" id="message" ng-model="message1">
      <input type="text" name="name" id="message" ng-model="message2">
      <input type="text" name="name" id="message" ng-model="message3">
      <input type="text" name="name" id="message" ng-model="message4">
      <span id="output">You have entered : {{6 + 5}}</span>
    </div>

  </body>

</html>
